{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}

<style>
    main {
        width: 100%;
        height: 2000px;
    }
</style>

<section class="products-container">
  <h1 id="section-title">Conheça nossos produtos</h1>
  <div id="box-1">
    <img class="product-img" id="esfihas-img" src="{% static 'img/esfihas.png'%}" alt="">
    <p id="link-1">
    Imagem de <a href="https://br.freepik.com/fotos-gratis/pequenas-pizzas-caseiras-frescas-com-manjericao_11891565.htm#query=esfihas&position=2&from_view=search&track=sph"> azerbaijan_stockers </a> no Freepik. (Conteúdo genérico e ilustrativo).
    </p>
    <p id="describe">
      especialidade 
       tradicional da culinária
        árabe, feitas com uma massa fina, 
          crocante e recheada com deliciosos 
          ingredientes. Oferecemos uma variedade de
           opções de recheio, incluindo carne, frango,
            queijo, espinafre e outros vegetais. Nossas esfihas
             são preparadas diariamente com ingredientes frescos e
              selecionados para garantir o melhor sabor e qualidade.
    </p>
    <h2 id="product-title">Esfihas</h2>
  </div>
  <div id="box-2">
    <p id="describe-left">
      As pizzas que servimos em nosso restaurante são preparadas com uma massa fresca e crocante,
       com um delicioso molho de tomate caseiro e uma variedade de ingredientes de alta qualidade.
        Oferecemos uma grande variedade de opções de cobertura, incluindo queijos variados, carnes,
         vegetais, ervas frescas e molhos especiais. Nosso objetivo é proporcionar uma experiência única
          e saborosa para nossos clientes.
    </p>
    <h2 id="product-title-left">Pizzas</h2>
    <img class="product-img" id="pizza-img" src="{% static 'img/pizza.png'%}" alt="">
    <p id="link-2">
      Imagem de <a href="https://br.freepik.com/fotos-gratis/pizza-havaiana_1026912.htm#query=pizza&position=1&from_view=search&track=sph">mrsiraphol</a> no Freepik (Conteúdo genérico e ilustrativo)
    </p>
  </div>
  <div id="box-3">
    <p><img class="product-img" id="bebidas-img" src="{% static 'img/bebidas.png'%}" alt=""></p>
    <p id="link-3">
      Imagem de <a href="https://www.freepik.com/free-photo/glass-bottles-beer-with-glass-ice-dark-background_4334664.htm#query=bebidas&position=44&from_view=search&track=sph">jcomp</a> no Freepik (conteúdo genérico e iustrativo)
    </p>
    <p id="describe">As bebidas que servimos em nosso restaurante são escolhidas cuidadosamente para garantir a
       melhor experiência para nossos clientes. Oferecemos uma ampla variedade de opções, desde cervejas
        artesanais locais até marcas populares, além de chopp gelado para aqueles que apreciam uma 
        bebida refrescante. Temos uma variedade de refrigerantes, sucos frescos e outras bebidas
         para complementar sua refeição.</p>
    <h2 id="product-title">Bebidas</h2></div>
</section>

{% endblock %}