/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


:root {
    --main-color: #990901;
    --main-text-color: #fff;
    --main-text-color-option: #000;
    --border-color: #dfcf5b;
    --secundary-color: #dfcf5b;
}


body {
    background-color: var(--main-color);
    display: flex;
}

/* Cabeçalho */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    background-image: linear-gradient(290deg, var(--secundary-color) 85%, #fff0 100% );
    color: #fff;
    border-bottom: 2px solid var(--border-color);
    z-index: 9999;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items:end;
    height: 80px;
}

nav li {
    font-weight: bold;
    font-style: italic;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px;
    
}

nav a {

    padding: 0px;
    color: #0c0b0b;
    text-decoration: none;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}


nav ul li {
    flex-grow: 0.5;
}


#rey-container {
    height: 70px;
    width: 100px;
    flex-grow: 2;
    display: flex;
    right: 100;
    justify-content: center;
    position: relative;
}
#home-icon {
    justify-content: center;
    width: 90px;
    height: 90px;
}

#home-icon img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    left: 25%;
    max-width: 150px;
}

#head-btn {
    flex-grow: 1.2;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    margin-right: 15px;
    margin-left: 20px;
    border-bottom: solid var(--main-color) 2px;
    position: relative;
    border-radius: 3px;

}

#head-btn-dropdown {
    flex-grow: 1.2;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    margin-right: 15px;
    margin-left: 20px;
    border-bottom: solid var(--main-color) 2px;
    position: relative;
    border-radius: 3px;

}


#head-btn-dropdown #dropdown-btn {
    color: var(--secundary-color);
    border-bottom: 1px solid var(--secundary-color);
    margin: 2px;
}


#head-btn:hover{
    background-color: var(--main-color);
    border-radius: 3px;
    color: var(--main-text-color);
}

#head-btn-dropdown:hover{
    background-color: var(--main-color);
    border-radius: 3px;
    color: var(--main-text-color);
}

#head-btn-dropdown:hover a, #head-btn:hover a {
    color: var(--main-text-color);
}

#head-btn-dropdown #dropdown-btn:hover {
    background-color: var(--main-color);
    color: var(--main-text-color);
}



.dropdown-menu {
    
    position: absolute;
   /*left: 26.5%;*/
    border-radius: 0px 0px 10px 10px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: var(--main-color);
    border: 3px solid var(--main-text-color);
    border-top: 0px;
    transition: all 0.2s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

#head-btn:hover .dropdown #head-btn {
    border: 3px solid var(--main-text-color-option);
}


/* Main */
main {

    margin-top: 150px;
    padding: 10px;
    width: 100%;
    height: 2000px;
    justify-content: center;
}


.products-container{
    display: flex;
    opacity: 1;
    color: var(--main-text-color-option);
    align-items: top;    
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: right;

    align-items: center;
    gap: 130px;
}

#section-title {
    color: var(--main-text-color);
    text-shadow: 10px 4px 10px var(--main-text-color-option);
    margin: 15px;
    position: absolute;
    justify-content: center;
    top: 75px;
    border-bottom: 4px solid #dfcf5b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

section div {
    flex: 1;
    position: relative;
    width: 100%;
    background-image: linear-gradient(210deg, var(--secundary-color) 0%, #fff0 15% );
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#products-container #box-1 {
    position: relative;
    
}



div p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
    font-size: 10px;
    color: #fff;
}

div #describe{
    position: relative;
    top: 50px;
    left: 100px;
    line-height: 2;
    width: 420px;
    margin: 15px;
    font-size: 18px;
    color: #fff;
    text-align: right;
    text-shadow: var(--main-text-color-option) 2px 1px 3px;
}

div #describe-left{
    position: absolute;
    top: 40px;
    left: 20px;
    width: 420px;
    margin: 15px;
    line-height: 2;
    font-size: 18px;
    color: #fff;
    text-align: left;
    text-shadow: var(--main-text-color-option) 2px 1px 3px;
}

div p a {
    text-decoration: none;
    color: #211d1d;
}

div #esfihas-img {
    position: absolute;
    left: 15px;
    bottom: 15px;

    width: 450px;
    height: 100%;
    transform: rotate(10deg);
}

div #pizza-img {
    position: absolute;
    right: 0px;
    justify-content: right;
    width: 450px;
    height: 100%;
}

div #pizza-img2 {
    position: absolute;
    right: 40%;
    top: 50%;
    bottom: 100;
    justify-content: right;
    align-items: end;
    width: 700px;
    height: 60%;
}

div #bebidas-img {
    position: absolute;
    width: 450px;
    bottom: 0px;

}
#box-1, #box-3 {
    justify-content:end;
    width: 80%;  
}

#box-2 {
    background-image: linear-gradient(150deg, var(--secundary-color) 0%, #fff0 15% );
    width: 80%;
    opacity: 1;
}

div #product-title {
    opacity: 1;
    position: relative;
    left: -20px;
    margin: 15px;
    height: 10%;
    color: var(--main-text-color);
    text-shadow: var(--main-text-color-option) 3px 2px 3px;
}

div #product-title-left {
    opacity: 1;
    position: relative;
    margin: 15px;
    right: -20px;
    height: 10%;
    color: var(--main-text-color);
    text-shadow: var(--main-text-color-option) 3px 2px 3px;
}

#box-1 #link-1, #box-3 #link-3 {
    bottom: -30px;
}

#box-2 #link-2{
    position: relative;
    align-items: flex-end;
    justify-content:right;
    top: 100%;
}

