{% extends 'base.html' %}
{% load static %}
{% block 'conteudo'%}

<style>
    main {
        flex-direction: column;
        align-items: center;
    }
</style>

<h2 id="home-title"> Faça seu pedido! </h2>
<div class="home-container">

    <div class="loja-container">
        <h2 class="loja-title">Gravatá</h2>
        <img src="{% static 'img/toritama-crop.jpeg'%}" alt="">
        <p class="endereco">Rua tal, 1999 - Bairro tal </p>
        <a href="https://reydasesfihas.menudino.com/" target="_blank" class="cardapio"> <p>Cardapio</p> <ion-icon name="pizza-outline"></ion-icon></a>
        <a href="https://wa.me/5581997516225" target="_blank" class="whatsapp"> <p>Whatsapp</p> <ion-icon name="logo-whatsapp"></ion-icon></a>
    </div>
    <div class="loja-container">
        <h2 class="loja-title">Vitória de Santo Antão</h2>
        <img src="{% static 'img/toritama-crop.jpeg'%}" alt="">
        <p class="endereco">Rua tal, 1999 - Bairro tal </p>
        <a href="https://reydasesfihas3.menudino.com/" target="_blank" class="cardapio"> <p>Cardapio</p> <ion-icon name="pizza-outline"></ion-icon></a>
        <a href="https://wa.me/5581982589919" target="_blank" class="whatsapp"> <p>Whatsapp</p> <ion-icon name="logo-whatsapp"></ion-icon></a>
    </div>
    <div class="loja-container">
        <h2 class="loja-title">Porto de Galinhas</h2>
        <img src="{% static 'img/toritama-crop.jpeg'%}" alt="">
        <p class="endereco">Rua tal, 1999 - Bairro tal </p>
        <a href="#" class="cardapio"> <p>Cardapio</p> <ion-icon name="pizza-outline"></ion-icon></a>
        <a href="https://wa.me/" class="whatsapp"> <p>Whatsapp</p> <ion-icon name="logo-whatsapp"></ion-icon></a>
    </div>
    <div class="loja-container">
        <h2 class="loja-title">Lajes</h2>
        <img src="{% static 'img/toritama-crop.jpeg'%}" alt="">
        <p class="endereco">Rua tal, 1999 - Bairro tal </p>
        <a href="#" class="cardapio"> <p>Cardapio</p> <ion-icon name="pizza-outline"></ion-icon></a>
        <a href="https://wa.me/" class="whatsapp"> <p>Whatsapp</p> <ion-icon name="logo-whatsapp"></ion-icon></a>
    </div>
    <div class="loja-container">
        <h2 class="loja-title">Toritama</h2>
        <img src="{% static 'img/toritama-crop.jpeg'%}" alt="">
        <p class="endereco">Rua tal, 9999 - Bairro tal </p>
        <a href="#" class="cardapio"> <p>Cardapio</p> <ion-icon name="pizza-outline"></ion-icon></a>
        <a href="https://wa.me/" class="whatsapp"> <p>Whatsapp</p> <ion-icon name="logo-whatsapp"></ion-icon></a>
    </div>

</div>

{%endblock%}